<!DOCTYPE html>

<html lang='en'>

<link href="static/styles.css" rel="stylesheet">

<div class="navbar">
  <a href="/top-bracket">Top Bracket</a>
  <a style=background-color:#005eb8 href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<form action='/bottom-bracket' method='post' class="select">
<main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Gonzaga||east_1||1'>1. Gonzaga <span>98%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Norfolk St||east_1||16'>16. Norfolk St <span>2%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Oklahoma||east_2||8'>8. Oklahoma <span>84%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Missouri||east_2||9'>9. Missouri <span>16%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Creighton||east_3||5">5. Creighton <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="UC Santa Barbara||east_3||12">12. UC Santa Barbara <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Virginia||east_4||4">4. Virginia <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Ohio||east_4||13">13. Ohio <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="USC||east_5||6">6. USC <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Drake||east_5||11">11. Drake <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Kansas||east_6||3">3. Kansas <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="E Washington||east_6||14">14. E Washington <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oregon||east_7||7">7. Oregon <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="VCU||east_7||10">10. VCU <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Iowa||east_8||2">2. Iowa <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Grand Canyon||east_8||15">15. Grand Canyon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span> 
              {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
          {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}</span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
              {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
            {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'east_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>{{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n-1)|string], '') }}</span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'east_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_' + n|string]}}||east_{{ game_map[n] }}||{{seed_dict[winner_dict['east_' + n|string]]}}">{{seed_dict[winner_dict['east_' + n|string]]}}. {{winner_dict['east_' + n|string]}} <span>
            {{ preds_dict[winner_dict['east_' + n|string]].get(winner_dict['east_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- END OF LEFT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>

      {% if 'east_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_15']}}||east_15||{{seed_dict[winner_dict['east_15']]}}">{{seed_dict[winner_dict['east_15']]}}. {{winner_dict['east_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul>
      <!-- <div class="center-image">
        <br>
        <br>
        <br>
        <br>
        <img src="static/mm_logo.png" alt="March Madness Logo" width="250" height="120">
      </div> -->
      
    </ul>

    <!-- START OF RIGHT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      {% if 'mw_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_15']}}||mw_15||{{seed_dict[winner_dict['mw_15']]}}">{{seed_dict[winner_dict['mw_15']]}}. {{winner_dict['mw_15']}}</button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(13,15) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      {% for n in range(9,13) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      {% for n in range(1,9) %}
        {% if n is divisibleby(2) %}
          {% if 'mw_' + n|string in game_ids %}
            <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
              {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n-1)|string], '') }}
            </span></button>
            <li class="spacer">&nbsp;</li>
          {% else %}

          <li class="game game-bottom"><span>&#8203;</span></li>
          <li class="spacer">&nbsp;</li>
          {% endif %}

      {% else %}
        {% if 'mw_' + n|string in game_ids %}
          <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_' + n|string]}}||mw_{{ game_map[n] }}||{{seed_dict[winner_dict['mw_' + n|string]]}}">{{seed_dict[winner_dict['mw_' + n|string]]}}. {{winner_dict['mw_' + n|string]}} <span>
            {{ preds_dict[winner_dict['mw_' + n|string]].get(winner_dict['mw_' + (n+1)|string], '') }}
          </span></button>
          <li class="game game-spacer-left">&nbsp;</li>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
        <li class="game game-spacer-left">&nbsp;</li>
      {% endif %}
        {% endif %}
      {% endfor %}

    </ul>
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Baylor||mw_1||1'>1. Baylor <span>98%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Hartford||mw_1||16'>16. Hartford <span>2%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Colo St||mw_2||8'>8. North Carolina <span>84%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Missouri||mw_2||9'>9. Wisconsin <span>16%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_3||5">5. Villanova <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_3||12">12. Winthrop <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_4||4">4. Purdue <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_4||13">13. North Texas <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_5||6">6. Texas Tech <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_5||11">11. Utah St <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_6||3">3. Arkansas <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_6||14">14. Colgate <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_7||7">7. Florida <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_7||10">10. Virginia Tech <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St||mw_8||2">2. Ohio St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon||mw_8||15">15. Oral Roberts <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
</main>
</form>
</html> 