<!DOCTYPE html>

<html lang='en'>

<link href="static/styles.css" rel="stylesheet">

<div class="navbar">
  <a href="/top-bracket">Top Bracket</a>
  <a href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<br>
<br>
<br>
<br>

<form action='/final-four' method='post' class="select">
<main class='ff' id="tournament">
  <ul class="round round-4">
      <li class="spacer">&nbsp;</li>

      {% if 'west_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_15']}}-west_16">5. {{winner_dict['west_15']}} <span>55%</span></button>
        <li class="spacer">&nbsp;</li>
      {% else %}
        <li class="game game-bottom"><span>&#8203;</span></li>
        <li class="spacer">&nbsp;</li>
      {% endif %}

      <li class="game ff-game-spacer">&nbsp;</li>

      {% if 'east_15' in game_ids %}
        <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['east_15']}}-east_16">5. {{winner_dict['east_15']}} <span>55%</span></button>
        <li class="spacer">&nbsp;</li>
      {% else %}
        <li class="game game-bottom"><span>&#8203;</span></li>
        <li class="spacer">&nbsp;</li>
      {% endif %}
    </ul>

    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      {% if 'west_16' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['west_16']}}-final">5. {{winner_dict['west_16']}} <span>55%</span></button>
      {% elif 'east_16' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['east_16']}}-final">5. {{winner_dict['east_16']}} <span>55%</span></button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul></ul>

    <ul>
      <br>
      <br>
      <br>
      <p>Champion</p>
      <br>
      {% if 'final' in game_ids %}
        <p name='matchup' class="game game-top bottom-border">{{winner_dict['final']}}</p>
      {% endif %}
    </ul>

    <ul></ul>

    <!-- START OF RIGHT BRACKET -->

    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      {% if 'south_16' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_16']}}-final">5. {{winner_dict['south_16']}} <span>55%</span></button>
      {% elif 'mw_16' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['mw_16']}}-final">5. {{winner_dict['mw_16']}} <span>55%</span></button>
      {% else %}
        <li class="game game-top"><span>&#8203;</span></li>
      {% endif %}

      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>

      {% if 'south_15' in game_ids %}
        <button name='matchup' class="game game-top bottom-border" value="{{winner_dict['south_15']}}-south_16">5. {{winner_dict['south_15']}} <span>55%</span></button>
        <li class="spacer">&nbsp;</li>
      {% else %}
        <li class="game game-bottom"><span>&#8203;</span></li>
        <li class="spacer">&nbsp;</li>
      {% endif %}

      <li class="game ff-game-spacer-left">&nbsp;</li>

      {% if 'mw_15' in game_ids %}
        <button name='matchup' class="game game-bottom top-border" value="{{winner_dict['mw_15']}}-mw_16">5. {{winner_dict['mw_15']}} <span>55%</span></button>
        <li class="spacer">&nbsp;</li>
      {% else %}
        <li class="game game-bottom"><span>&#8203;</span></li>
        <li class="spacer">&nbsp;</li>
      {% endif %}
    </ul>
</main>
</html> 