<!DOCTYPE html>

<html lang='en'>

<link href="static/styles.css" rel="stylesheet">

<div class="navbar">
  <a href="/top-bracket">Top Bracket</a>
  <a href="/bottom-bracket">Bottom Bracket</a>
  <a href="/final-four">Final Four</a>
  <a class="reset" href="/">Reset Picks</a>
</div>

<form action='/top-bracket' method='post' class="select">
<main id="tournament">
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Gonzaga-west_1'>1. Gonzaga <span>98%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='Norfolk St-west_1'>16. Norfolk St <span>2%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Colo St-west_2'>8. Colo St <span>84%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Missouri-west_2'>9. Missouri <span>16%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_3">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_3">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_4">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_4">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_5">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_5">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_6">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_6">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_7">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_7">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-west_8">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-west_8">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top bottom-border"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top bottom-border"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom top-border"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>
      
      <li class="spacer">&nbsp;</li>
    </ul>

    <!-- END OF LEFT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>

    <ul>
      <!-- <div class="center-image">
        <br>
        <br>
        <br>
        <br>
        <img src="static/mm_logo.png" alt="March Madness Logo" width="150" height="100">
      </div> -->
    </ul>

    <!-- START OF RIGHT BRACKET -->
    <ul class="round round-5">
      <li class="spacer">&nbsp;</li>
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="spacer">&nbsp;</li>
    </ul>

    <ul class="round round-4">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>
      
      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom"><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2">
      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top"><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
      
      <li class="game game-top "><span>&#8203;</span></li>
      <li class="game game-spacer-left">&nbsp;</li>
      <li class="game game-bottom "><span>&#8203;</span></li>

      <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-1">
      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Alabama-south_1'>1. Alabama <span>98%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top top-border" value='NC A&T-south_1'>16. NC A&T <span>2%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value='Colo St-south_2'>8. Colo St <span>84%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value='Missouri-south_2'>9. Missouri <span>16%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_3">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_3">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_4">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_4">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_5">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_5">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_6">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_6">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_7">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_7">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
      
      <button name='matchup' class="game game-top bottom-border" value="Oklahoma St-south_8">5. Oklahoma St <span>55%</span></button>
      <li class="game game-spacer-left">&nbsp;</li>
      <button name='matchup' class="game game-bottom top-border" value="Oregon-south_8">12. Oregon <span>45%</span></button>

      <li class="spacer">&nbsp;</li>
    </ul>
</main>
</form>
</html> 